


.Error
{
  width: 100%;
  height: calc(100vh - 349px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:50px;


    .Error__Txt
    {
      font-size: 1.5rem;
      color:#FF6060;
      font-weight: bold;
      padding:10px;
    }
}

