

$Gallery_Bg : #F6F6F6;

.Gallery
{
  width:100%;
  margin:auto;
  margin-top:22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Gallery_Bg;
  border-radius: 25px;
  gap:20px;


  .Gallery__Card
  {
    width:100%;
    height:255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding:19px;
    border-radius: 10px;
    background: #000;
    mix-blend-mode: darken;
    position:relative;

    .Gallery__Card__Link
    {
      text-decoration: none;
      z-index: 1;

    }

    .Card__Title
    {
      width:70%;
      line-height: 25px;
      font-size: 18px;
      font-weight: 500;
      color:#FFF;

    }

    .Card__Img
    {
      position:absolute;
      border-radius: 10px;
      top:0;
      left:0;
      width:100%;
      height:100%;
      object-fit: cover;
      opacity: 0.8;
    }

    @media (min-width: 400px)
    {
      width:335px;
    }
    @media (min-width: 700px)
    {
      width: calc(90% / 2);
    }
    @media (min-width: 900px)
    {
      width: calc(90% / 3);
    }
    @media (min-width: 1300px)
    {
      width: 335px;
      height:335px;
    }
    @media (min-width: 1440px)
    {
      width: 340px;
      height:340px;
    }
  }

  @media (min-width: 700px)
  {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:56px;
    padding-bottom:56px;

  }
  @media (min-width: 900px)
  {
    gap : 30px;
  }
  @media (min-width: 1440px)
  {
    width: 1240px;
    gap: 60px;
  }
}

