.Carrousel
{
  width:100%;
  height:255px;
  padding:0;
  position:relative;
  mix-blend-mode: normal;


  @media (min-width: 400px)
  {
    height:355px;
  }
  @media (min-width: 1440px)
  {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
  }

  .Carrousel__Button
  {
    position:absolute;
    width:12px;
    height:20px;
    top:50%;
    transform: translate(0, -50%);
    cursor : pointer;

    &--Left
    {
      left : 6px;
    }
    &--Right
    {
      right : 6px;
    }


    @media (min-width: 400px)
    {
      width : 20px;
      height: 40px;
    }
    @media (min-width: 1440px)
    {
      width : 47px;
      height: 80px;

      &--Left
      {
        left : 24px;
      }
      &--Right
      {
        right : 24px;
      }
    }
  }

  .Carrousel__Picture
  {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;

  }
}


