


*
{
  box-sizing: border-box;
  color:red;
}

body
{
  width:100%;
  min-height:90vh;
  font-family: "Montserrat", sans-serif;
}

.Container
{
  height:100%;
  padding:30px 20px;
  position: relative;

  @media (min-width: 700px)
  {
    padding : 60px 40px;
  }
  @media (min-width: 1440px)
  {
    padding:62px 100px;
  }
}

