


.Error
{
  width: 100%;
  height: calc(100vh - 349px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:50px;


    .Error__Title, .Error__Txt
    {
      color : #FF6060;
      text-align: center;
    }
    .Error__Title
    {
      font-size: 96px;
      font-weight: 700;

      @media (min-width : 1440px)
      {
        font-size: 288px;
      }
    }

    .Error__Txt
    {
      font-size: 18px;
      font-weight: 500;

      @media (min-width: 1440px)
      {
        font-size: 36px;
      }
    }

    .Error__Link
    {
      font-size: 14px;

      @media (min-width: 1440px)
      {
        font-size: 18px;
      }
    }
}

